[Unit]
Description=Flask App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/spotify-server
ExecStart=/home/ubuntu/spotify-server/venv/bin/gunicorn -b localhost:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
